.navbar {
    background-color: rgba(238, 237, 237, 0.5);
}

.navbar-brand {
    color:black;
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
}

@media (min-width: 481px) {
.navbar-brand {
    color:black;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
}

@media (min-width: 1026px) {
.navbar-brand {
    color:black;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
}

.navbar-brand:hover {
    color: #006600;
}

.main-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url("/static/main-content.6965cc2ce418.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 360px;
}

.square {
   width: 93%;
   height: 160px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top: 120px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;    
}

.subject-jp {
    color: black;
    font-size: 35px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.subject-en {
    color: black;
    font-size: 100%;
    position: absolute;
    left: 20px;
    top: 60px;
}

.training {
    color: black;
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 100px;
}

.meal {
    color: black;
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 125px;
}

@media (min-width: 481px) {
.main-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url("/static/main-content.6965cc2ce418.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 550px;
}

.square {
   width: 50%;
   height: 160px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top: 90px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;    
}

.subject-jp {
    color: black;
    font-size: 35px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.subject-en {
    color: black;
    font-size: 100%;
    position: absolute;
    left: 20px;
    top: 60px;
}

.training {
    color: black;
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 100px;
}

.meal {
    color: black;
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 125px;
}
}

@media (min-width: 1026px) {
.main-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url("/static/main-content.6965cc2ce418.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 850px;
}

.square {
   width: 40%;
   height: 270px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top: 100px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;    
}

.subject-jp {
    color: black;
    font-size: 55px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.subject-en {
    color: black;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 85px;
}

.training {
    color: black;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 150px;
}

.meal {
    color: black;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 185px;
}
}

.about-content{
    font-family: 'Noto Serif JP',serif;
    background-color: rgba(238, 237, 237, 0.5);
    position: relative;
	width: 100%;
	height: 385px;
}

.about-title {
    text-align: center;
}

.about-jp {
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    margin: auto;
    font-size: 19px;
}

.about-en{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    font-size: 14px;
    color: #006600;
}

.about-square {
   width: 100%;
   height: 220px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top: 80px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;     
   background-image: url("/static/about-content.3c6cd6bb3e9c.jpg");
   background-blend-mode: darken;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;    
}

.description {
   width: 93%;
   height: 85%;
   background-color: rgba(255, 255, 255,0.8);
   margin: 15px auto 0 auto;
   text-align: center;
   font-size: 20px;
}

.title-des {
    font-size: 15px;
    border-bottom: dotted 2px #006600;
    position: relative;
    top: 5px;
}

.all-des {
    text-align: center;
    color:black; 
}


.small-des {
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    color: black;
}

.icon-title {
    font-size: 13px;
    position: relative;
    top: 11px;
    color: #006600;
}

.menu-title {
    position: relative;
    right: 48px;
}

.flag-title {
    position: relative;
    left: 48px;
}

.menu {
    width: 45px;
    height: 45px;
    position: relative;
    top: 20px;
    right: 50px;
}

.dumbel {
    width: 45px;
    height: 45px;
    position: relative;
    left: 0;
    right: 0;
    top:20px;
    margin: auto;
}

.flag {
    width: 45px;
    height: 45px;
    position: relative;
    top: 20px;
    left: 50px;
}

.sub-jp {
    position: relative;
    left: 0;
    right: 0;
    top: 310px;
    margin: auto;
    font-size: 19px;
    text-align: center;
}

.sub-en{
    position: relative;
    left: 0;
    right: 0;
    top: 320px;
    margin: auto;
    font-size: 14px;
    color: #006600;
    text-align: center;
}

@media (min-width: 481px) {
.about-content{
    font-family: 'Noto Serif JP',serif;
    background-color: rgba(238, 237, 237, 0.5);
    position: relative;
	width: 100%;
	height: 385px;
}

.about-title {
    text-align: center;
}

.about-jp {
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    margin: auto;
    font-size: 24px;
}

.about-en{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    font-size: 19px;
    color: #006600;
}

.about-square {
   width: 100%;
   height: 220px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top: 80px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;     
   background-image: url("/static/about-content.3c6cd6bb3e9c.jpg");
   background-blend-mode: darken;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;    
}

.description {
   width: 60%;
   height: 85%;
   background-color: rgba(255, 255, 255,0.8);
   margin: 15px auto 0 auto;
   text-align: center;
   font-size: 20px;
}

.title-des {
    font-size: 20px;
    border-bottom: dotted 2px #006600;
    position: relative;
    top: 5px;
}

.all-des {
    text-align: center;
    color:black; 
}


.small-des {
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    color: black;
}

.icon-title {
    font-size: 16px;
    position: relative;
    top: 11px;
    color: #006600;
}

.menu-title {
    position: relative;
    right: 48px;
}

.flag-title {
    position: relative;
    left: 48px;
}

.menu {
    width: 45px;
    height: 45px;
    position: relative;
    top: 20px;
    right: 60px;
}

.dumbel {
    width: 45px;
    height: 45px;
    position: relative;
    left: 0;
    right: 0;
    top:20px;
    margin: auto;
}

.flag {
    width: 45px;
    height: 45px;
    position: relative;
    top: 20px;
    left: 60px;
}

.sub-jp {
    position: relative;
    left: 0;
    right: 0;
    top: 310px;
    margin: auto;
    font-size: 24px;
    text-align: center;
}

.sub-en{
    position: relative;
    left: 0;
    right: 0;
    top: 320px;
    margin: auto;
    font-size: 19px;
    color: #006600;
    text-align: center;
}
}

@media (min-width: 1026px) {
.about-content{
    font-family: 'Noto Serif JP',serif;
    background-color: rgba(238, 237, 237, 0.5);
    position: relative;
	width: 100%;
	height: 810px;
}

.about-title {
    text-align: center;
}

.about-jp {
    position: absolute;
    left: 0;
    right: 0;
    top:35px;
    margin: auto;
    font-size: 35px;
}

.about-en{
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    margin: auto;
    font-size: 25px;
    color: #006600;
}

.about-square {
   width: 100%;
   height: 425px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top: 180px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;     
   background-image: url("/static/about-content.3c6cd6bb3e9c.jpg");
   background-blend-mode: darken;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;    
}

.description {
   width: 65%;
   height: 85%;
   background-color: rgba(255, 255, 255,0.8);
   margin: 30px auto 0 auto;
   text-align: center;
   font-size: 20px;
}

.title-des {
    color: black;
    font-size: 35px;
    border-bottom: dotted 2px #006600;
    position: relative;
    top: 25px;
}

.all-des {
    text-align: center;
    color:black; 
}


.small-des {
    font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    color: black;
}

.icon-title {
    font-size: 20px;
    position: relative;
    top: 25px;
    color: #006600;
}

.menu-title {
    position: relative;
    right: 170px;
}

.flag-title {
    position: relative;
    left: 170px;
}

.menu {
    width: 80px;
    height: 80px;
    position: relative;
    top: 40px;
    right: 163px;
}

.dumbel {
    width: 80px;
    height: 80px;
    position: relative;
    left: 0;
    right: 0;
    top:40px;
    margin: auto;
}

.flag {
    width: 80px;
    height: 80px;
    position: relative;
    top: 40px;
    left: 163px;
}

.sub-jp {
    position: relative;
    left: 0;
    right: 0;
    top: 650px;
    margin: auto;
    font-size: 35px;
    text-align: center;
}

.sub-en{
    position: relative;
    left: 0;
    right: 0;
    top: 670px;
    margin: auto;
    font-size: 25px;
    color: #006600;
    text-align: center;
}
}

.sub-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url("/static/sub-content.ae94e1365a0e.jpeg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 710px;
    text-align: center;
}    

.sub-square{
   width: 93%;
   height: 670px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top:20px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: #006600;
   border-right: solid ; border-right-color: #006600;
   border-left: solid ; border-left-color: #006600;
}

.goal h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 55px;
    color: #006600;
}

.sex h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 75px;
    color: #006600;
}

.old  h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 95px;
    color: #006600;
}

.height h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 115px;
    color: #006600;
}

.weight  h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 135px;
    color: #006600;
}

.decision {
    width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    top: 150px; 
}

.btn-success{
    width: 36%;
    height: 50px;
    border-radius: 10px;
    background-color: #006600;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: white;
    border: 1px solid black;   
    color: #006600;
}

@media (min-width: 481px) {
.sub-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url("/static/sub-content.ae94e1365a0e.jpeg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 710px;
    text-align: center;
}    

.sub-square{
   width: 60%;
   height: 670px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top:20px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: #006600;
   border-right: solid ; border-right-color: #006600;
   border-left: solid ; border-left-color: #006600;
}

.goal h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 55px;
    color: #006600;
}

.sex h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 75px;
    color: #006600;
}

.old  h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 95px;
    color: #006600;
}

.height h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 115px;
    color: #006600;
}

.weight  h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 135px;
    color: #006600;
}

.decision {
    width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    top: 150px; 
}

.btn-success{
    width: 22%;
    height: 50px;
    border-radius: 10px;
    background-color: #006600;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: white;
    border: 1px solid black;   
    color: #006600;
}
}

@media (min-width: 1026px) {
.sub-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url("/static/sub-content.ae94e1365a0e.jpeg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 810px;
    text-align: center;
}    

.sub-square{
   width: 65%;
   height: 770px;
   background: white;
   opacity: 0.8;
   position: absolute;
   left: 0;
   right: 0;
   top:20px;
   margin: auto;
   border-top: solid ; border-color: #006600;
   border-bottom: solid ; border-bottom-color: #006600;
   border-right: solid ; border-right-color: #006600;
   border-left: solid ; border-left-color: #006600;
}

.goal h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 55px;
    color: #006600;
}

.sex h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 75px;
    color: #006600;
}

.old  h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 95px;
    color: #006600;
}

.height h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 115px;
    color: #006600;
}

.weight  h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 135px;
    color: #006600;
}

.decision { 
    width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    top: 180px; 
}

.btn-success{
    width: 18%;
    height: 50px;
    border-radius: 10px;
    background-color: #006600;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: white;
    border: 1px solid black;   
    color: #006600;
}

}