.men-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url('/static/men-result.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 1035px;
}

.women-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url('/static/women-result.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 1035px;
}

.square {
   width: 93%;
   height: 980px;
   background-color: rgba(255, 255, 255, 0.829);
   position: absolute;
   left: 0;
   right: 0;
   top: 30px;
   margin: auto;
   border-top: solid ; border-color: #006600; border-top-width: 3px;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;    
}

.period {
    text-align: center;
    padding-top: 5px;
}

.period h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

.period h2 {
    font-size: 23px;
}

.period h5 {
    font-size: 14px;
}

.period-title {
    border-bottom: solid 1px orange;
    display: inline-block;
    margin-top: 10px;
}

@media (min-width: 481px) {
.men-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url('/static/men-result.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 1150px;
}

.women-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url('/static/women-result.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 1150px;
}

.square {
   width:75%;
   height: 1100px;
   background-color: rgba(255, 255, 255, 0.829);
   position: absolute;
   left: 0;
   right: 0;
   top: 30px;
   margin: auto;
   border-top: solid ; border-color: #006600; border-top-width: 3px;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;    
}

.period {
    text-align: center;
    padding-top: 5px;
}

.period h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.period h2 {
    font-size: 25px;
}

.period h5 {
    font-size: 19px;
}

.period-title {
    border-bottom: solid 1px orange;
    display: inline-block;
    margin-top: 10px;
}
}

@media (min-width: 1026px) {

.men-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url('/static/men-result.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 1440px;
}

.women-content{
    font-family: 'Noto Serif JP',serif;
    background-image: url('/static/women-result.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	width: 100%;
	height: 1440px;
}

.square {
   width:75%;
   height: 1360px;
   background-color: rgba(255, 255, 255, 0.829);
   position: absolute;
   left: 0;
   right: 0;
   top: 30px;
   margin: auto;
   border-top: solid ; border-color: #006600; border-top-width: 3px;
   border-bottom: solid ; border-bottom-color: grey; border-bottom-width: 1px;
   border-right: solid ; border-right-color: grey; border-right-width: 1px;
   border-left: solid ; border-left-color: grey; border-left-width: 1px;    
}

.period {
    text-align: center;
    padding-top: 5px;
}

.period h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.period h2 {
    font-size: 35px;
}

.period h5 {
    font-size: 25px;
}

.period-title {
    border-bottom: solid 1px orange;
    display: inline-block;
    margin-top: 10px;
}
}

.food-menu {
    color: black;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

.morning {
    width: 93%;
    margin: 0 auto;
    border: solid 1px;
    border-color: #FFF9B1;
    margin-top: 20px;

}

.morning-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.morning-main {
    font-size: 11px;
    text-align: left;
}

.morning-main span {
    font-size: 14px;
    font-weight: 700;
}

.morning-menu {
    font-size: 11px;
    text-align: left;
}

.morning-menu span {
    font-size: 14px;
    font-weight: 700;
}

.lunch {
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #FCD7A1;
}

.lunch-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.lunch-main {
    font-size: 11px;
    text-align: left;
}

.lunch-main span {
    font-size: 14px;
    font-weight: 700;
}

.lunch-menu {
    font-size: 11px;
    text-align: left;
}

.lunch-menu span {
    font-size: 14px;
    font-weight: 700;
}

.dinner {
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #F9C270;
}

.dinner-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.dinner-main {
    font-size: 11px;
    text-align: left;
}

.dinner-main span {
    font-size: 14px;
    font-weight: 700;
}

.dinner-menu {
    font-size: 11px;
    text-align: left;
}

.dinner-menu span {
    font-size: 14px;
    font-weight: 700;
}

.snack {
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #9FA0A0;
}

.snack-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.snack-main {
    font-size: 11px;
    text-align: left;
}

.snack-main span {
    font-size: 14px;
    font-weight: 700;
}

@media (min-width: 481px) {

.food-menu {
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.morning {
    width: 75%;
    margin: 0 auto;
    border: solid 1px;
    border-color: #FFF9B1;
    margin-top: 20px;
}

.morning-title {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.morning-main {
    font-size: 14px;
    text-align: left;
}

.morning-main span {
    font-size: 17px;
    font-weight: 700;
}

.morning-menu {
    font-size: 14px;
    text-align: left;
}

.morning-menu span {
    font-size: 17px;
    font-weight: 700;
}

.lunch {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #FCD7A1;
}

.lunch-title {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.lunch-main {
    font-size: 14px;
    text-align: left;
}

.lunch-main span {
    font-size: 17px;
    font-weight: 700;
}

.lunch-menu {
    font-size: 14px;
    text-align: left;
}

.lunch-menu span {
    font-size: 17px;
    font-weight: 700;
}

.dinner {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #F9C270;

}

.dinner-title {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.dinner-main {
    font-size: 14px;
    text-align: left;
}

.dinner-main span {
    font-size: 17px;
    font-weight: 700;
}

.dinner-menu {
    font-size: 14px;
    text-align: left;
}

.dinner-menu span {
    font-size: 17px;
    font-weight: 700;
}

.snack {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #9FA0A0;
}

.snack-title {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.snack-main {
    font-size: 14px;
    text-align: left;
}

.snack-main span {
    font-size: 17px;
    font-weight: 700;
} 
}

@media (min-width: 1026px) {

.food-menu {
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.morning {
    width: 70%;
    margin: 0 auto;
    border: solid 1px;
    border-color: #FFF9B1;
    margin-top: 20px;

}

.morning-title {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}

.morning-main {
    font-size: 19px;
    text-align: left;
}

.morning-main span {
    font-size: 22px;
    font-weight: 700;
}

.morning-menu {
    font-size: 19px;
    text-align: left;
}

.morning-menu span {
    font-size: 22px;
    font-weight: 700;
}

.lunch {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #FCD7A1;
}

.lunch-title {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}

.lunch-main {
    font-size: 19px;
    text-align: left;
}

.lunch-main span {
    font-size: 22px;
    font-weight: 700;
}

.lunch-menu {
    font-size: 19px;
    text-align: left;
}

.lunch-menu span {
    font-size: 22px;
    font-weight: 700;
}

.dinner {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #F9C270;

}

.dinner-title {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}

.dinner-main {
    font-size: 19px;
    text-align: left;
}

.dinner-main span {
    font-size: 22px;
    font-weight: 700;
}

.dinner-menu {
    font-size: 19px;
    text-align: left;
}

.dinner-menu span {
    font-size: 22px;
    font-weight: 700;
}

.snack {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px;
    border-color: #9FA0A0;
}

.snack-title {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
}

.snack-main {
    font-size: 19px;
    text-align: left;
}

.snack-main span {
    font-size: 22px;
    font-weight: 700;
}
}

.workout-title {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

.workout-menu {
    margin: 0 auto;
    width: 93%;
}

.workout-menu thead th {
    font-size: 10px;
    font-weight: 900;
}

.part {
    width: 17%;
}

.event {
    width: 47%;
}

.rep {
    width: 18%;
}

.set {
    width: 18%;
}

.workout-menu tbody th {
    font-size: 12px;
}

.workout-menu tbody td {
    font-size: 11px;
}

.break-time {
    text-align: center;
    font-size: 14px;
}

@media (min-width: 481px) {

.workout-title {
    color: black;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

.workout-menu {
    margin: 0 auto;
    width: 75%;
}

.workout-menu thead th {
    font-size: 17px;
    font-weight: 900;
}

.part {
    width: 17%;
}

.event {
    width: 47%;
}

.rep {
    width: 18%;
}

.set {
    width: 18%;
}

.workout-menu tbody th {
    font-size: 14px;
}

.workout-menu tbody td {
    font-size: 13px;
}

.break-time {
    text-align: center;
    font-size: 16px;
}
}

@media (min-width: 1026px) {

.workout-title {
    color: black;
    font-size: 47px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

.workout-menu {
    margin: 0 auto;
    width: 70%;
}

.workout-menu thead th {
    font-size: 22px;
    font-weight: 900;
}

.part {
    width: 17%;
}

.event {
    width: 47%;
}

.rep {
    width: 18%;
}

.set {
    width: 18%;
}

.workout-menu tbody th {
    font-size: 19px;
}

.workout-menu tbody td {
    font-size: 18px;
}

.break-time {
    margin-top: 25px;
    text-align: center;
    font-size: 22px;
}
}


.video-guide {
    width: 100%;
    height: 465px;
    background-color: rgba(226, 224, 224, 0.8);
    font-family: 'Noto Serif JP',serif;
}

.video-title {
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

.meal-video {
    width: 100%;
    padding-bottom: 15px;
    border-top: solid 2px;
    border-color: #F9C270;
}

.meal-video-title {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.meal01 {
    display: inline-block;
    width: 32%;
    padding-left: 15px;

}

.meal01 iframe {
    display: inline-block;
    width: 110px;
    height: 80px;
}

.meal02 {
    display: inline-block;
    width: 32%;
    padding-left: 8px;
}

.meal02 iframe {
    display: inline-block;
    width: 110px;
    height: 80px;
}

.meal03 {
    display: inline-block;
    width: 32%;
}

.meal03 iframe {
    width: 110px;
    height: 80px;
}

.workout-video {
    width: 100%;
    padding-bottom: 15px;
    border-top: solid 2px;
    border-color: #006600;
    margin-top: 10px;
}

.workout-video-title {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.workout01 {
    display: inline-block;
    width: 32%;
    padding-left: 15px;
}

.workout01 iframe {
    display: inline-block;
    width: 110px;
    height: 80px;
}

.workout02 {
    display: inline-block;
    width: 32%;
    padding-left: 8px;
}

.workout02 iframe {
    display: inline-block;
    width: 110px;
    height: 80px;
}

.workout03 {
    display: inline-block;
    width: 32%;
}

.workout03 iframe {
    display: inline-block;
    width: 110px;
    height: 80px;
}

.decision {
    width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    padding-top: 10px;
}

.btn-success{
    width: 18%;
    border-radius: 10px;
    background-color: #006600;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: white;
    border: 1px solid black;   
    color: #006600;
}

@media (min-width: 481px) {

    .video-guide {
    width: 100%;
    height: 600px;
    background-color: rgba(226, 224, 224, 0.8);
    font-family: 'Noto Serif JP',serif;
}

.video-title {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.meal-video {
    width: 100%;
    padding-bottom: 15px;
    border-top: solid 2px;
    border-color: #F9C270;
}

.meal-video-title {
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.meal01 {
    display: inline-block;
    width: 32%;
    padding-left: 40px;

}

.meal01 iframe {
    display: inline-block;
    width: 220px;
    height: 140px;
}

.meal02 {
    display: inline-block;
    width: 32%;
    padding-left: 20px;
}

.meal02 iframe {
    display: inline-block;
    width: 220px;
    height: 140px;
}

.meal03 {
    display: inline-block;
    width: 32%;
}

.meal03 iframe {
    width: 220px;
    height: 140px;
}

.workout-video {
    width: 100%;
    padding-bottom: 15px;
    border-top: solid 2px;
    border-color: #006600;
    margin-top: 10px;
}

.workout-video-title {
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.workout01 {
    display: inline-block;
    width: 32%;
    padding-left: 40px;
}

.workout01 iframe {
    display: inline-block;
    width: 220px;
    height: 140px;
}

.workout02 {
    display: inline-block;
    width: 32%;
    padding-left: 20px;
}

.workout02 iframe {
    display: inline-block;
    width: 220px;
    height: 140px;
}

.workout03 {
    display: inline-block;
    width: 32%;
}

.workout03 iframe {
    display: inline-block;
    width: 220px;
    height: 140px;
}

.decision {
    width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    padding-top: 10px;
}

.btn-success{
    width: 18%;
    border-radius: 10px;
    background-color: #006600;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: white;
    border: 1px solid black;   
    color: #006600;
}
}

@media (min-width: 1026px) {

.video-guide {
    width: 100%;
    height: 840px;
    background-color: rgba(226, 224, 224, 0.8);
    font-family: 'Noto Serif JP',serif;
}

.video-title {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

.meal-video {
    width: 100%;
    padding-bottom: 15px;
    border-top: solid 2px;
    border-color: #F9C270;
}

.meal-video-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.meal01 {
    display: inline-block;
    width: 32%;
    padding-left: 70px;

}

.meal01 iframe {
    display: inline-block;
    width: 400px;
    height: 240px;
}

.meal02 {
    display: inline-block;
    width: 32%;
    padding-left: 35px;
}

.meal02 iframe {
    display: inline-block;
    width: 400px;
    height: 240px;
}

.meal03 {
    display: inline-block;
    width: 32%;
}

.meal03 iframe {
    width: 400px;
    height: 240px;
}

.workout-video {
    width: 100%;
    padding-bottom: 15px;
    border-top: solid 2px;
    border-color: #006600;
    margin-top: 10px;
}

.workout-video-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.workout01 {
    display: inline-block;
    width: 32%;
    padding-left: 70px;
}

.workout01 iframe {
    display: inline-block;
    width: 400px;
    height: 240px;
}

.workout02 {
    display: inline-block;
    width: 32%;
    padding-left: 35px;
}

.workout02 iframe {
    display: inline-block;
    width: 400px;
    height: 240px;
}

.workout03 {
    display: inline-block;
    width: 32%;
}

.workout03 iframe {
    display: inline-block;
    width: 400px;
    height: 240px;
}

.decision {
    width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    padding-top: 10px;
}

.btn-success{
    width: 18%;
    border-radius: 10px;
    background-color: #006600;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: white;
    border: 1px solid black;   
    color: #006600;
}
}

.footer {
    background-color: rgb(255, 255, 255);
    height: 30px;
}