.cp_ipselect01:hover, .cp_ipselect01:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect01.cp_sl01:hover select {
	color:white;
}

.cp_ipselect01 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect01.cp_sl01 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 60px;
}

.cp_ipselect01.cp_sl01::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect01.cp_sl01 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect02:hover, .cp_ipselect02:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect02.cp_sl02:hover select {
	color:white;
}

.cp_ipselect02 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect02.cp_sl02 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 80px;
}

.cp_ipselect02.cp_sl02::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect02.cp_sl02 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect03:hover, .cp_ipselect03:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect03.cp_sl03:hover select {
	color:white;
}

.cp_ipselect03 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect03.cp_sl03 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 100px;
}

.cp_ipselect03.cp_sl03::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect03.cp_sl03 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect03 {
	overflow: hidden;
	width: 20%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 100px;
}

.cp_ipselect04:hover, .cp_ipselect04:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect04.cp_sl04:hover select {
	color:white;
}

.cp_ipselect04 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect04 select::-ms-expand {
    display: none;
}

.cp_ipselect04.cp_sl04 {
	position: relative;
	border: 1px solid black;
	background: white;
}

.cp_ipselect04.cp_sl04::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect04.cp_sl04 select {
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect04 {
	overflow: hidden;
	width: 60%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 120px;
}

.cp_ipselect05:hover, .cp_ipselect05:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect05.cp_sl05:hover select {
	color:white;
}

.cp_ipselect05 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect05 select::-ms-expand {
    display: none;
}

.cp_ipselect05.cp_sl05 {
	position: relative;
	border: 1px solid black;
	background: white;
}

.cp_ipselect05.cp_sl05::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect05.cp_sl05 select {
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect05 {
	overflow: hidden;
	width: 60%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 140px;
}

@media (min-width: 481px) {

.cp_ipselect01:hover, .cp_ipselect01:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect01.cp_sl01:hover select {
	color:white;
}

.cp_ipselect01 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect01.cp_sl01 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 35%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 60px;
}

.cp_ipselect01.cp_sl01::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect01.cp_sl01 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect02:hover, .cp_ipselect02:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect02.cp_sl02:hover select {
	color:white;
}

.cp_ipselect02 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect02.cp_sl02 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 35%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 80px;
}

.cp_ipselect02.cp_sl02::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect02.cp_sl02 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect03:hover, .cp_ipselect03:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect03.cp_sl03:hover select {
	color:white;
}

.cp_ipselect03 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect03.cp_sl03 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 35%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 100px;
}

.cp_ipselect03.cp_sl03::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect03.cp_sl03 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect03 {
	overflow: hidden;
	width: 20%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 100px;
}

.cp_ipselect04:hover, .cp_ipselect04:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect04.cp_sl04:hover select {
	color:white;
}

.cp_ipselect04 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect04 select::-ms-expand {
    display: none;
}

.cp_ipselect04.cp_sl04 {
	position: relative;
	border: 1px solid black;
	background: white;
}

.cp_ipselect04.cp_sl04::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect04.cp_sl04 select {
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect04 {
	overflow: hidden;
	width: 35%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 120px;
}

.cp_ipselect05:hover, .cp_ipselect05:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect05.cp_sl05:hover select {
	color:white;
}

.cp_ipselect05 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect05 select::-ms-expand {
    display: none;
}

.cp_ipselect05.cp_sl05 {
	position: relative;
	border: 1px solid black;
	background: white;
}

.cp_ipselect05.cp_sl05::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect05.cp_sl05 select {
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect05 {
	overflow: hidden;
	width: 35%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 140px;
}
}

@media (min-width: 1026px) {

.cp_ipselect01:hover, .cp_ipselect01:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect01.cp_sl01:hover select {
	color:white;
}

.cp_ipselect01 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect01.cp_sl01 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 60px;
}

.cp_ipselect01.cp_sl01::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect01.cp_sl01 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect02:hover, .cp_ipselect02:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect02.cp_sl02:hover select {
	color:white;
}

.cp_ipselect02 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect02.cp_sl02 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 80px;
}

.cp_ipselect02.cp_sl02::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect02.cp_sl02 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect03:hover, .cp_ipselect03:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect03.cp_sl03:hover select {
	color:white;
}

.cp_ipselect03 select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect03.cp_sl03 {
	border: 1px solid black;
	background: white;
	position: relative;
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
  	height: 50px;
    top: 100px;
}

.cp_ipselect03.cp_sl03::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect03.cp_sl03 select{
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect03 {
	overflow: hidden;
	width: 30%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 100px;
}

.cp_ipselect04:hover, .cp_ipselect04:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect04.cp_sl04:hover select {
	color:white;
}

.cp_ipselect04 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect04 select::-ms-expand {
    display: none;
}

.cp_ipselect04.cp_sl04 {
	position: relative;
	border: 1px solid black;
	background: white;
}

.cp_ipselect04.cp_sl04::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect04.cp_sl04 select {
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect04 {
	overflow: hidden;
	width: 30%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 120px;
}

.cp_ipselect05:hover, .cp_ipselect05:active {
  background-color: #006600 !important;
  border: 1px solid #006600 !important;
  transition: 0.5s ;
}

.cp_ipselect05.cp_sl05:hover select {
	color:white;
}

.cp_ipselect05 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect05 select::-ms-expand {
    display: none;
}

.cp_ipselect05.cp_sl05 {
	position: relative;
	border: 1px solid black;
	background: white;
}

.cp_ipselect05.cp_sl05::before {
	position: absolute;
	top: 18px;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	pointer-events: none;
}

.cp_ipselect05.cp_sl05 select {
	padding: 11px 30px 8px 85px;
	color: #006600;
}

.cp_ipselect05 {
	overflow: hidden;
	width: 30%;
  	height: 50px;
	margin: auto;
	text-align: center;
	position: relative;
    top: 140px;
}
}